<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8"/>
    <
    <title>InfoBox App</title>
  
  
    <%- body %> //nel body ci deve essere body

    
    <script type="text/javascript" src="news-orologio-meteo.js"></script>
    
  
</html>