<!DOCTYPE html>
<html>
    <head>
        <title>
            Pannello di controllo
        </title>
        <link rel="stylesheet" href="/testo/uploader.css">
    </head>
    <body>
        <div class="elemento" id="titolo">
            <span id="titolo_scritta">
            <h1 >Pannello di controllo dell'infobox</h1></span>
        </div>
        <div class="elemento" id="testo">
            <a  class="scritta_testo" href="/uploader/testo"><h1 id="titoli_secondari">Modifica testo</h1>
                <div id="descrizione" ><img src='/weather/edit-text.png' style='height: 30%; width: 30%;'></div></a>
        </div>
        
        <div class="elemento" id="immagini">
                <a class="scritta_multimedia" href="/uploader/multimedia"><h1 id="titoli_secondari">Modifica slideshow</h1>
                    <div id="descrizione">  <img src='/weather/background.png' style='height: 30%; width: 30%;'></div></a>
        </div>
        
        <div class="elemento" id="campanelle">
                <a class="scritta_campanelle" href="/uploader/campanelle"><h1 id="titoli_secondari">Modifica campanella</h1>
                    <div id="descrizione"> <img src='/weather/campanella.png' style='height: 30%; width: 30%;'></div></a>
        </div>
        <div class="elemento" id="ritorna_home"><a href="/" class="scritta"><h3>Ritorna alla pagina principale</h3></a></div>
        <div class="elemento" id="ritorna_logout"><a href="/login/logout" class="scritta"><h3>Log out</h3></a></div>
    </body>
</html>